/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
/* css variables
:root{
--navbar-height:59px;
} */

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/*Navigation bar logo and image styling */
#logo{
margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}
/*Navigation bar List styling */

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai';
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    /* border-radius: 22px; */
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 150px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../images/platter-food-delicious-food-restaurant.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif';
}
#home p{
    color: white;
    text-align: center;
    font-family: 'Bree Serif';
}

/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 25px;
    border-radius: 28px;
    background-color: #f2f2f2;
}
#services .box img{
    height: 150px;
    width: 300px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif';
    font-size: 0.7rem;
}
/* Client Section */
#client-section{
height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../images/pexels-pixabay-461198.jpg');
    width: 100%;
    height: 55%;
    z-index: -1;
    opacity: 0.7;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
/* Contact secton */
#contact{
position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.7;
background: url('../images/istockphoto-1287186696-612x612.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.0rem;
    font-family: 'Bree Serif';
}
/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility classes */
.h-primary{
    font-size: 3.0rem;
    padding: 12px;
    font-family: 'Bree Serif';
}
.h-secondary{
    font-size: 1.3rem;
    padding: 12px;
    font-family: 'Bree Serif';
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(190, 152, 102);
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
}
.center{
    text-align: center;
}
